#inventory
  = render 'nav'

  .button-group
    .button.clear
      = button_to 'Clear All Records', clear_inventories_path, :method => :delete, class: 'warning',
        data: { confirm: "This will erase ALL DATA\r\nAre you SURE this is what you want?" }
    .button= button_to 'New Record', new_inventory_path, :method => :get
    .button= button_to 'Bulk Import', import_inventories_path, :method => :get

  - if @inventories.empty?
    %h2 No Products

  - @inventories.group_by{|r| r.store}.each do |store, inventories|
    - next unless store
    .store
      %h1 Store #{store}
      - inventories.group_by{|r| r.code}.each do |code, groups|
        - next unless code
        .product
          .report= button_to "Export Store #{store}, PR Code #{'%02d'%code}", report_inventories_path(store,code,:text), method: 'get'
          %h2 Product Code #{'%02d' % code}
          %table
            %thead
              %tr
                %th Roll
                %th Width
                %th Length
                %th

            %tbody
              - groups.each do |inventory|
                %tr{ class: ('updated' if inventory.updated?) }
                  %td= link_to inventory.roll, inventory
                  %td= '%02.02f' % inventory.width
                  %td= '%.02f'   % inventory.length
                  %td
                    = link_to icon('edit', 'Edit'), edit_inventory_path(inventory), :method => :get, class: 'blue'
                    |
                    = link_to icon('remove', 'Delete'), inventory, :method => :delete, class: 'red', data: { confirm: 'Are you sure?' }

