#inventory
  .container
    .label Roll Number:
    .field= @inventory.roll

    .label Product Code:
    .field= @inventory.code

    .label Width:
    .field= @inventory.width

    .label Length (feet):
    .width= @inventory.feet

    .label Length (inches):
    .field= @inventory.inches

  .links
    = button_to 'Edit', edit_inventory_path(@inventory), :method => :get
    -#= button_to 'Back', inventories_path
